<title>Bloggy</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    
<div style="margin-top: 100px;margin-left: 100px;margin-right: 100px" >
  <p style="color: yellowgreen;">Title:</p>
  <p ><%=title%></p>
  <!--<h1 style="color: yellowgreen;">Created by:</h1>
  <h2><%=username%>  </h2>-->
  <p style="color: yellowgreen;">Content:</p>
  <p><%=content%></p>
  <!--<button style="border: 0px;border-radius: 5px;background-color: yellowgreen;" id="edit_post" >edit</button>
  <button style="border: 0px;border-radius: 5px;background-color: yellowgreen;" id="delete_post" onclick="location.href='/delete'">delete</button>-->
  <!--<input type="submit" value="like" class="btn btn-success" >
  <input type="button" value="Download" class="btn btn-success" >-->
  
</div>


