@-ms-viewport{
  width: device-width;
}
body,html{
    margin: 0;
    padding: 0;
}
navbar navbar-light bg-light{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar{ background:#171717;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}
.navbar-brand{
    margin-left: 100px;
}
.signin{
    background-color: yellowgreen;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: small;
    border: none;
}
.username{
    background-color: #3c3c2a;
    border: none;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    text-align: left;
    margin-top: 150px;
}
.description h1{
 color:yellowgreen ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #F97300;
    border: 1px solid #333;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: grey;
    text-align: center;
  }
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.welcome {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.welcome h1 {
	color: #6ab446;
}
.welcome p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
